= form_for @exercise, :html => {:multipart => true} do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :tag_list, "Tags (separated by commas)"
    = f.text_field :tag_list
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.check_box(:today)
    = "Today"


  = f.file_field :image, :size => "200"

  -# .field f.label :remote_image_url. "or image URL"
  -# = f.text_field :remote_image-url
  
  .actions
    = f.submit 'Save',:class => "btn btn-inverse"
