
.row
  .span6
    %h1  
      
      = @title
  .span6
   
    -# #tag_cloud
      -# -tag_cloud Exercise.tag_counts, %w[s m l] do |tag, css_class| 
        -# = link_to tag.name, tag_path(tag.name), class: css_class 


%table.table.table-hover
  %tr
    %th{:colspan => 2}
      = "Today"
    %th 
    %th
      = link_to '+', new_exercise_path, :class => 'controls'
    
      

  - @exercises.each do |exercise|
    %tr
      
      
      
      %td{:class => 'name'}
        - if exercise.today == true
          = " -"

      %td= link_to exercise.name , exercise, :class => 'name'
      %td= truncate(exercise.description, :length => 80, :omission => "...")
      %td= raw exercise.tags.map(&:name).map { |t| link_to t, tag_path(t), :class => 'btn' }.join(' ')
      -# %td=  link_to '/' , edit_exercise_path(exercise), :class => 'edit'
      -# %td= link_to 'X', delete_exercise_path(exercise), :class => 'edit'
      -# %td= link_to("X", {:action => 'delete', :id => exercise.id}, :class => 'edit')
      -# %td= link_to 'X', exercise, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'edit'


